@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Code';
}

body {
    background-color: white;
}

.container {
    width: 100%;
    max-width: 420px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #EBF6FD;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBF6FD;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s 1s linear;
    z-index: 99;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.loader-container .progress-container {
    width: 90%;
    height: 7px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}

.loader-container .progress-container .progress {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6E87E0;
    border-radius: 5px;
    transition: width 0.2s linear;
}

.new-todo-container {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.new-todo-container input {
    width: 80%;
    border-radius: 23px;
    outline: none;
    border: 1px solid #6E87E0;
    padding: 5px 10px;

    &:focus {
        box-shadow: 0 0 9px #6E87E0;

    }
}

.new-todo-container button {
    width: 45px;
    height: 100%;
    background-color: #6E87E0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.todos-container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.todo {
    background-color: #6E87E0;
    width: 95%;
    padding: 10px 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
}
.todo.completed{
    background-color: #B4BBD4;
}
.todo .title.completed{
    color: #9FA0A4;
    position: relative;
}
.todo .title.completed:after{
    content: '';
    position: absolute;
    width: 105%;
    height: 2px;
    background-color: #9FA0A4;
    top: 50%;
    left: 0;
}
.todo .btn-container {
    display: flex;
    gap: 5px;
}

.todo .btn-container span {
    cursor: pointer;
    padding: 5px;
    transition: 0.1s linear;
}

.btn-container .remove-btn:hover {
    color: #EC4747;
}
.btn-container .complete-btn:hover{
    color: #6CEE65;
}